{% extends "base.html" %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'questions/forms.css' %}">
    <style>
        form {
            margin-top: 20px !important;
        }

        .form-field {
            width: 400px !important;
        }
      
        .form-field input {
            width: 390px !important;
        }
    </style>
    <title>Sign Up</title>
{% endblock head %}

{% block content %}
    <div class="left">
        <form method="post">
            <h2 class="form-title">Sign Up</h2>
            {% csrf_token %}
            {% for field in register_form %}
                <div class="form-field">
                    {{ field.label_tag }}{{ field }}{{ field.errors }}
                </div>
            {% endfor %}
            <div class="form-field">
                <button type="submit">Sign Up</button>
            </div>
        </form>
        <p>You can also <a href="{% url 'login' %}">login</a> as guest.</p>
    </div>
    <div class="right">
        <div class="form-messages">
            {% for field in register_form %}
                {% if field.help_text %}
                    <div class="form-message">
                        {{ field.label_tag }}
                        <p>{{ field.help_text|safe }}</p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock content %}