{% extends "base.html" %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'questions/forms.css' %}">
    <style>
        .settings-form {
            border-bottom: 1px rgba(82, 83, 83, 0.39) solid;
            padding-bottom: 5px;
        }
    </style>
    <title>{{ user.username }}'s Account Settings</title>
{% endblock head %}

{% block left %}
    <form method="post" class="settings-form">
        {% csrf_token %}
        {% for field in forms.change_email %}
        <div class='form-field'>
            {{ field.label_tag }}{{ field }}{{ field.errors }}
        </div>
        {% endfor %}
    <button class="form-field" name="action" value="change_email" type="submit">Confirm</button>
    </form>
    <form method="post" class="settings-form">
        {% csrf_token %}
        {% for field in forms.change_password %}
            <div class='form-field'>
                {{ field.label_tag }}{{ field }}{{ field.errors }}
            </div>
        {% endfor %}
        <button class="form-field" name="action" value="change_password" type="submit">Confirm</button>
    </form>
{% endblock left %}
