.left {
    margin-top: 0;
}

#questions {
    width: 100%;
    margin: 0;
}

.question {
    border-bottom: 1px solid rgba(124, 124, 124, 0.18);
}

.question-content {
    width: 680px;
    height: 150px;
    margin: 10px 10px 0 auto;
}

.question-content > .question-title {
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    width: 100%;
    margin: 5px 20px 5px 20px;
    color: black;
}

.question-content > .question-title:hover {
    color: #494949;
}

.question-content > p {
    margin: 5px 20px 5px 20px;
    overflow: hidden;
    width: 680px;
    height: 50px;
}

.creation-time {
    font-size: 0.8em;
    color: rgba(82, 83, 83, 0.6);
    width: 150px;
    height: 40px;
    display: inline-block;
    text-align: center;
    margin-right: 20px;
}

.question-data {
    width: 400px;
    margin-right: 20px;
    margin-left: auto;
}

.question-content .owner {
    margin-left: 0;
    width: 220px;
    height: 40px;
    display: inline-block;
}

.avatar {
    width: 32px;
    height: 32px;
    display: block;
    float: left;
}

.username {
    width: 183px;
    float: right;
    margin-left: 5px;
    margin-top: 5px;
    height: 32px;
}
